<div class="profile-container">
  <%= render 'users/profile', user: @user %>
</div>
<div class="profile-menu">
  <%= link_to user_path(@user) do %><ion-icon name="grid-outline"></ion-icon> 投稿<% end %>　<%= link_to likes_path do %><ion-icon name="heart-outline"></ion-icon> お気に入り<% end %>　<%= link_to bookmarks_path do %><ion-icon name="bookmark-outline"></ion-icon> Bookmark<% end %>
</div>
<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <div class="sidemenu">
          <br>
            <% @bookmarktag.each do |bookmarktag| %>
            <br>
            <%= link_to "##{bookmarktag.tagname}(#{bookmarktag.bookmarks.count})","/bookmark/bookmark_tag/#{bookmarktag.tagname}",class: "btn btn-default btn-sm" %>
            <% end %>
          <br>
          <br>
          <br>
        </div>
      </div>
      <div class="col-md-8">
        <% @bookmarks.each do |bookmark| %>
          <div class="bookmark">
            <%= render_with_bookmark_tags(bookmark.title) %>
            <ul class="inline-meta">
              <li>
                <%= link_to edit_bookmark_path(bookmark) do %>
                  <ion-icon name="menu-outline"></ion-icon>
                <% end %>
              </li>
              <li>
                <%= link_to "削除", bookmark_path(bookmark), method: :delete %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</section>