<div class="profile-container">
  <%= render 'users/profile', user: @user %>
</div>
  <div class="profile-menu">
    <%= link_to user_path(@user) do %><ion-icon name="grid-outline"></ion-icon> 投稿<% end %>　<%= link_to likes_path do %><ion-icon name="heart-outline"></ion-icon> お気に入り<% end %>　<%= link_to bookmarks_path do %><ion-icon name="bookmark-outline"></ion-icon> Bookmark<% end %>
  </div>
<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <div class="sidemenu">
          <br>
            <%= link_to "新規追加", "/bookmarks/new", class:"btn btn-outline-light" %>
          <br>
          <% @bookmarktags.each do |bookmarktag| %>
          <br>
            <%= link_to "##{bookmarktag.tagname}","/bookmark/bookmark_tag/#{bookmarktag.tagname}",class: "btn btn-default btn-sm" %>
          <% end %>
          <br>
          <br>
          <br>
        </div>
      </div>
      <div class="col-md-8">
        <%= render 'bookmarks/bookmark', bookmarks: @bookmarks %>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</section>