<section class="slice sct-color-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <div class="form-user style-1 rounded has-shadow-1">
          <div class="login-signup-title">Bookmark投稿フォーム</div>
          <div class="form-body">
            <%= form_with model:@bookmark, url: bookmarks_path, local: true do |f| %>
              <% if @bookmark.errors.any? %>
                <div id="error_explanation">
                  <h2><%= @bookmark.errors.count %>件のエラーが発生しました。</h2>
                  <ul>
                  <% @bookmark.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="row">
                <div class="col-sm-12">
                  <p><%= f.text_area :title, class:"form-control", rows:"3", placeholder:"お気に入りリンクをここに" %></p>
                  <p><%= f.text_field :caption, class:"form-control", rows:"3", placeholder:"#タグ" %></p>
                </div>
              </div>
              <hr>
              <%= f.submit "送信", class:"btn btn-info btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-3"></div>
    </div>
  </div>
</section>