<div class="profile-container">
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
  <h3 class="profile-name"><%= @user.name %></h3>
  <h4 class="profile-other">
  	<% if @user.id == current_user.id %>
  	  <%= link_to edit_user_path(@user) do %>
  	    <ion-icon name="settings-outline"></ion-icon>
  	  <% end %>
  	<% end %>
  </h4>
  <br>
  <h4 class="profile-sub">
  	投稿21件　フォロワー233人　フォロー中488人
  </h4>
  <br>
  <h5 class="profile-introduction">
    <%= @user.introduction %>
  </h5>
</div>
<div class="profile-menu">
  <%= link_to "投稿一覧", user_path(@user) %>　お気に入り一覧
</div>
<%= render 'posts/list', posts: @posts %>