<section class="slice sct-color-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <div class="form-user style-1 rounded has-shadow-1">
          <div class="login-signup-title">プロフィール編集</div>
          <div class="form-body">
            <%= form_with model:@user, url: user_path(@user),local: true do |f| %>
              <div class="form-group has-icon">
                <label class="control-label sr-only" for="inputEmail">Name</label>
                <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>
                <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
              </div>
              <div class="form-group has-icon">
                <div class="user-edit-image">
                  <%= attachment_image_tag @user, :profile_image, class: "img-circle", format: 'jpeg', fallback: "no_image.jpg", size:"100x100" %>
                </div>
              </div>
              <div class="form-group has-icon">
                <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
                <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "image-prev" %>
              </div>
              <div class="form-group has-icon">
                <label class="control-label sr-only" for="inputEmail">Introduction</label>
                <%= f.text_area :introduction, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"自己紹介"%>
              </div>
              <%= f.submit "変更を保存", class:"btn btn-info btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-4"></div>
    </div>
  </div>
</section>