<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-3"></div>
      <!-- 画像一覧 -->
      <div class="col-md-6">
        <div class="masonry-wrapper-cols">
          <% if @posts == [] %>
            <div class="top-nil">
              <ion-icon name="images"></ion-icon> 画像を投稿してみよう！
            </div>
          <% else %>
            <% @posts.each do |post| %>
              <div class="index-list">
                <div class="masonry-block">
                  <div class="block-top">
                    <div class="row">
                      <div class="col-md-11">
                        <ul class="inline-meta">
                          <!-- ↓プロフ画像 -->
                          <li>
                            <%= attachment_image_tag post.user, :profile_image, size: "35x35", format: 'jpeg', class: "img-circle", fallback: "no_image.jpg" %>
                          </li>
                          <!-- ↑プロフ画像 -->
                          <!-- ↓ユーザー名 -->
                          <li>
                            <%= link_to user_path(post.user) do %>
                              <%= post.user.name %>
                            <% end %>
                          </li>
                          <!-- ↑ユーザー名 -->
                        </ul>
                      </div>
                      <div class="col-md-1">
                        <div class="block-like">
                          <!-- ↓いいね -->
                          <div id="likes_buttons_<%= post.id %>">
                            <%= render partial: 'likes/likebutton', locals: { post: post} %>
                          </div>
                          <!-- ↑いいね -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block block-image v1">
                    <div class="block-image">
                      <div class="view view-first">
                        <!-- ↓投稿画像 -->
                        <%= link_to post_path(post.id) do %>
                          <%= attachment_image_tag post, :image, width: "80%" %>
                        <% end %>
                        <!-- ↑投稿画像 -->
                      </div>
                    </div>
                    <div class="block-content">
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- ↑画像一覧ここまで -->
      <div class="col-md-3"></div>
    </div>
  </div>
</section>