<div class="profile-container">
  <%= render 'users/profile', user: @user %>
</div>
<div class="profile-menu">
  <%= link_to user_path(@user) do %><ion-icon name="grid-outline"></ion-icon> 投稿<% end %>　<%= link_to likes_path do %><ion-icon name="heart-outline"></ion-icon> お気に入り<% end %>　<%= link_to bookmarks_path do %><ion-icon name="bookmark-outline"></ion-icon> Bookmark<% end %>
</div>
<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <div class="sidemenu">
          <br>
          <% @posttags.each do |posttag| %>
            <br><%= link_to  "##{posttag.tagname}","/post/post_tag/#{posttag.tagname}",class: "btn btn-default btn-sm" %>
          <% end %>
          <br>
          <br>
          <br>
        </div>
      </div>
      <div class="col-md-8">
        <div class="clearfix">
          <% @post.each do |post| %>
            <div class="list">
              <% if post.user_id == @user.id %>
                <%= link_to post_path(post.id) do %>
                  <%= attachment_image_tag post, :image, :fill, 250, 250 %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</section>