<section class="sct-color-1 slice">
  <div class="container">
    <div class="row">
      <div class="col-md-12 post_images_container">
        <div class="post-item">
          <div class="post-meta-top">
            <div class="post-image">
              <%= attachment_image_tag @post, :image %>
            </div>
          </div>
          <div class="post-content">
            <ul class="meta-info-cells v4 float-wrapper">
              <li>
                <i class="fa fa-user"></i>By<a href="#">
                  <%= @post.user.name %></a>
              </li>
              <li>
                <i class="fa fa-calendar"></i><%= @post.created_at.strftime('%Y/%m/%d') %>
              </li>
              <!-- <li> -->
                <!-- <i class="fa fa-comment"></i> -->
                <!-- <a href="#comments">4</a> -->
              <!-- </li> -->
              <li>
                <% if @post.user == current_user %>
                  <%= link_to "編集", edit_post_path(@post) %>
                <% end %>
              </li>
              <li>
                <% if @post.user == current_user %>
                  <%= link_to "削除", post_path(@post), method: :delete %>
                <% end %>
              </li>
            </ul>
<!--             <div class="post-content-inner mt-20">
              <p><%= @post.caption %></p>
            </div> -->
          </div>

          <div class="comment-list bt style-2" id="comments">
            <!-- <div class="float-wrapper">
              <h2 class="comment-count">4件コメント</h2>
            </div> -->
            <ol>
              <li class="comment">
                <div class="comment-body bb">
<!--                   <div class="comment-avatar">
                    <div class="avatar">
                      <img src="images/sample-author1.jpg">
                      <%= image_tag('sample-author1.jpg') %>
                    </div>
                  </div> -->
                  <div class="comment-text">
                    <div class="comment-author clearfix">
<!--                       <a href="#">投稿者名</a>
                      <span class="comment-meta">
                        <span class="comment-date">2017/07/21</span>
                      </span> -->
                    </div>
                    <div class="comment-entry"><%= render_with_post_tags(@post.caption) %></div>
                  </div>
                </div>
              </li>
            </ol>
          </div>
          <hr>
          <!-- Add comment section -->
<!--           <div class="section-title-wrapper style-1 v1 mt-30" id="divAddComment">
            <h3 class="section-title left">
              <span>コメント</span>
            </h3>
          </div>
          <form class="mt-20">
            <div class="row">
              <div class="col-sm-12">
                <textarea class="form-control" rows="5" placeholder="コメントをここに"></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-lg btn-base-1 mt-20 pull-right">送信する</button>
          </form> -->
        </div>
      </div>
    </div>
  </div>
</section>