<section class="sct-color-1 slice">
  <div class="container">
    <div class="row">
      <div class="col-md-12 post_images_container">
        <div class="post-item">
          <div class="post-meta-top">
            <div class="post-image">
              <%= attachment_image_tag @post, :image %>
            </div>
          </div>
          <div class="post-content">
            <ul class="meta-info-cells v4 float-wrapper">
              <li>
                <%= link_to user_path(@post.user) do %>
                  <%= @post.user.name %>
                <% end %>
              </li>
              <li>
                <%= @post.created_at.strftime('%Y/%m/%d') %>
              </li>
              <!-- いいね -->
              <% if user_signed_in? %>
                <% if @post.liked_by?(current_user) %>
                <li>
                  <%= link_to post_likes_path(@post), method: :delete do %>
                    <ion-icon name="heart" style="color: red;"></ion-icon>
                  <% end %>
                </li>
                <% else %>
                <li>
                  <%= link_to post_likes_path(@post), method: :post do %>
                    <ion-icon name="heart-outline"></ion-icon>
                  <% end %>
                </li>
                <% end %>
              <% end %>
              <!-- 編集／削除ボタン -->
              <li>
                <% if @post.user == current_user %>
                  <%= link_to "編集", edit_post_path(@post) %>
                <% end %>
              </li>
              <li>
                <% if @post.user == current_user %>
                  <%= link_to "削除", post_path(@post), method: :delete %>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="comment-list bt style-2" id="comments">
            <ol>
              <li class="comment">
                <div class="comment-body bb">
                  <div class="comment-text">
                    <div class="comment-entry"><%= render_with_post_tags(@post.caption) %></div>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>